In [228]:
!pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.0.1)

In [249]:
import pandas as pd
from pprint import pprint
import numpy as np

In [22]:
from google.colab import drive 
drive.mount('gdrive')

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

In [ ]:
processed_DJI_df = pd.read_csv('/content/gdrive/MyDrive/Processed_DJI.csv')
processed_DJI_df.head(10)

In [199]:
companiesList = ['Mobile_corporation', 'JPChase', 'Apple', 'Microsoft', 'GE', 'JohnsonJohnson', 'Wells Fargo', 'Amazon']

# **Convert DataFrame to List of values**

In [200]:
values_list =  processed_DJI_df.values.tolist()
column_list = processed_DJI_df.columns

In [201]:
companiesList = ['Mobile_corporation', 'JPChase', 'Apple', 'Microsoft', 'GE', 'JohnsonJohnson', 'Wells Fargo', 'Amazon']
company_dict_list = []
for value_list in values_list:
  company_dict = {}
  for company_name in companiesList:
    sample_list = value_list.copy()
    sample_list.append(company_name)
    company_dict[company_name] = sample_list
  df = pd.DataFrame(company_dict)
  df = df.T
  company_dict_list.append(df)

In [ ]:
final_df = pd.concat(company_dict_list)
final_df.head(10)

In [203]:
column_list = column_list.tolist()

In [204]:
column_list.append('Company_Name')

In [ ]:
final_df.columns = column_list
final_df.head(20)

In [ ]:
final_df.set_index('Company_Name')
final_df.head(20)

In [207]:
companiesList = ['Mobile_corporation', 'JPChase', 'Apple', 'Microsoft', 'GE', 'JohnsonJohnson', 'Wells Fargo', 'Amazon']
column_companies_list = ['XOM', 'JPM', 'AAPL', 'MSFT', 'GE', 'JNJ', 'WFC','AMZN']

for index, row in final_df.iterrows():
  if row['Company_Name'] == 'Mobile_corporation':
    row['JPM','AAPL','MSFT','GE', 'JNJ', 'WFC','AMZN'] = 0
  elif row['Company_Name'] == 'JPChase':
    row['XOM','AAPL','MSFT','GE', 'JNJ', 'WFC','AMZN'] = 0
  elif row['Company_Name'] == 'Apple':
    row['XOM','JPM','MSFT','GE', 'JNJ', 'WFC','AMZN'] = 0
  elif row['Company_Name'] == 'Microsoft':
    row['XOM','AAPL','JPM','GE', 'JNJ', 'WFC','AMZN'] = 0
  elif row['Company_Name'] == 'GE':
    row['XOM','AAPL','MSFT','JPM', 'JNJ', 'WFC','AMZN'] = 0
  elif row['Company_Name'] == 'JohnsonJohnson':
    row['XOM','AAPL','MSFT','GE', 'JPM', 'WFC','AMZN'] = 0
  elif row['Company_Name'] == 'Wells Fargo':
    row['XOM','AAPL','MSFT','GE', 'JNJ', 'JPM','AMZN'] = 0
  elif row['Company_Name'] == 'Amazon':
    row['XOM','AAPL','MSFT','GE', 'JNJ', 'WFC','JPM'] = 0

In [ ]:
final_df.head(10)

In [209]:
final_df.to_csv('/content/sample_data/StockMarket_Data_1.csv')

In [132]:
a = final_df.groupby('Company_name')

In [ ]:
a.head()

In [106]:
final_df = final_df[:50]

In [107]:
len(final_df.columns)

84

In [ ]:
final_df.head()

# **Preprocessing**

In [ ]:
stockmarket_Df = pd.read_csv('/content/sample_data/StockMarket_Data_1.csv', index_col='Unnamed: 0')
stockmarket_Df.fillna(0, inplace=True)
stockmarket_Df.head()

# **Labeling the data**

In [ ]:
stockmarket_Df.head()

companiesList = ['Mobile_corporation', 'JPChase', 'Apple', 'Microsoft', 'GE', 'JohnsonJohnson', 'Wells Fargo', 'Amazon']
column_companies_list = ['XOM', 'JPM', 'AAPL', 'MSFT', 'GE', 'JNJ', 'WFC','AMZN']

In [ ]:
Mobile_corporation_df = stockmarket_Df[stockmarket_Df["Company_Name"] == 'Mobile_corporation']
Mobile_corporation_df["XOM"] = pd.to_numeric(Mobile_corporation_df["XOM"])

JPChase_df = stockmarket_Df[stockmarket_Df["Company_Name"] == 'JPChase']
JPChase_df["JPM"] = pd.to_numeric(JPChase_df["JPM"])

Microsoft_df = stockmarket_Df[stockmarket_Df["Company_Name"] == 'Microsoft']
Microsoft_df["MSFT"] = pd.to_numeric(Microsoft_df["MSFT"])

Apple_df = stockmarket_Df[stockmarket_Df["Company_Name"] == 'Apple']
Apple_df["AAPL"] = pd.to_numeric(Apple_df["AAPL"])

GE_df = stockmarket_Df[stockmarket_Df["Company_Name"] == 'GE']
GE_df["GE"] = pd.to_numeric(GE_df["GE"])

JohnsonJohnson_df = stockmarket_Df[stockmarket_Df["Company_Name"] == 'JohnsonJohnson']
JohnsonJohnson_df["JNJ"] = pd.to_numeric(JohnsonJohnson_df["JNJ"])

Wells_Fargo_df = stockmarket_Df[stockmarket_Df["Company_Name"] == 'Wells Fargo']
Wells_Fargo_df["WFC"] = pd.to_numeric(Wells_Fargo_df["WFC"])

Amazon_df = stockmarket_Df[stockmarket_Df["Company_Name"] == 'Amazon']
Amazon_df["AMZN"] = pd.to_numeric(Amazon_df["AMZN"])

In [301]:
def setLabeling(data_list):
  label_list = []
  intial_value = data_list[0]
  for i in data_list[1:len(data_list)]:
    if intial_value > i:
      label_list.append(-1)
    elif intial_value < i:
      label_list.append(1)
    elif intial_value == i:
      label_list.append(0)
    intial_value = i
  return label_list

In [306]:
column_companies_list = ['XOM', 'JPM', 'AAPL', 'MSFT', 'GE', 'JNJ', 'WFC','AMZN']

Mobile_corporation_list = Mobile_corporation_df['XOM'].values.tolist()
xom_labels = setLabeling(Mobile_corporation_list)
xom_labels.append('NAN')

jpm_list = JPChase_df['JPM'].values.tolist()
jpm_labels = setLabeling(jpm_list)
jpm_labels.append('NAN')

apple_list = Apple_df['AAPL'].values.tolist()
apple_labels = setLabeling(apple_list)
apple_labels.append('NAN')

microsoft_list = Microsoft_df['MSFT'].values.tolist()
microsoft_labels = setLabeling(microsoft_list)
microsoft_labels.append('NAN')

ge_list = GE_df['GE'].values.tolist()
ge_labels = setLabeling(ge_list)
ge_labels.append('NAN')

john_john_list = JohnsonJohnson_df['JNJ'].values.tolist()
johnjohn_labels = setLabeling(john_john_list)
johnjohn_labels.append('NAN')

wellsfrago_list = Wells_Fargo_df['WFC'].values.tolist()
wellsfrago_labels = setLabeling(wellsfrago_list)
wellsfrago_labels.append('NAN')


amazon_list = Amazon_df['AMZN'].values.tolist()
amazon_labels = setLabeling(amazon_list)
amazon_labels.append('NAN')

In [ ]:
Mobile_corporation_df['Match'] = xom_labels
JPChase_df['Match'] = jpm_labels
Apple_df['Match'] = apple_labels
Microsoft_df['Match'] = microsoft_labels
GE_df['Match'] = ge_labels
JohnsonJohnson_df['Match'] = johnjohn_labels
Wells_Fargo_df['Match'] = wellsfrago_labels
Amazon_df['Match'] = amazon_labels

In [ ]:
final_df = pd.concat([Mobile_corporation_df, JPChase_df, Apple_df, Microsoft_df, GE_df, JohnsonJohnson_df, Wells_Fargo_df, Amazon_df])
final_df.head(10)

In [ ]:
final_df.head(10)

In [315]:
final_df["Date"] = pd.to_datetime(final_df["Date"])
final_df = final_df.sort_values(by="Date")
final_df.head()

                         Date         Close  ...        Company_Name  Match
Mobile_corporation 2009-12-31  10428.049805  ...  Mobile_corporation      1
GE                 2009-12-31  10428.049805  ...                  GE      1
JPChase            2009-12-31  10428.049805  ...             JPChase      1
Apple              2009-12-31  10428.049805  ...               Apple      1
Microsoft          2009-12-31  10428.049805  ...           Microsoft      1

[5 rows x 86 columns]

In [316]:
final_df.to_csv('/content/sample_data/Stock_market_label_data.csv')